{% stylesheet %}
  .test3{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 60px;
    background: blue;
    
  }
  {% endstylesheet %}
  
  <div class="test3">
サシスセソ
  </div>
  
  {% schema %}
      {
        "name": "ssテスト4",
       "max_blocks": 1,
       "blocks": [
         {
           "type": "blockset_1",
           "name": "ブロックセット1",
             "settings": [
              {
                 "type": "paragraph",
                 "content": "見出し"
             },
             {
                 "type": "image_picker",
                 "id": "banner",
                 "label": "バナー"
             },
             {
                  "id": "follow_link",
                  "type": "url",
                  "label": "リンク"
             }
           ]
         }
       ],
       "settings": [
          {
            "type": "textarea",
            "id": "message",
            "label": "メッセージ",
            "default": "文章"
          }
        ],
       "presets": [
          {
            "name": "ssテスト4",
            "blocks": [
            
            ]
          }
        ]
      }
    {% endschema %}