body {
 font-family: 'Noto Serif JP', serif;
}


.ssCard__title{
    padding: 0 15px 25px 15px;
}

.ssCard__maintitle{
    padding: 0;
    margin: 0;
    color: #020202;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

.ssCard__capture{
    padding: 0;
    margin: 0;
    color: #020202;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 172%;
    letter-spacing: 0.6px;
}

.ssRank_items {
    margin: 0;
    padding: 0;
}

.ssCard__itemsinner{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.ssCard__item{
    margin: 0;
    padding: 0;
    width: calc(50% - 2px);
    display: block;
    position: relative;
    list-style: none;
}

.ssCard__link{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.ssCard__image{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 45.466vw;
}

.ssCard__image img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.ssCard__iteminfo{
    height: 20vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 300;
    line-height: 172%;
    justify-content: center;
    gap:7px;
}

.ssCard__itemname{
    margin: 0;
    padding: 0;
    color: #020202;
    font-size: min(3.2vw, 16px);
    font-style: normal;
    font-weight: 300;
    line-height: 172%;
    letter-spacing: 0.48px;
}

.ssCard__price{
    margin: 0;
    padding: 0;
    color: #020202;
    font-size: min(4vw, 16px);
    font-style: normal;
    font-weight: 300;
    line-height: 172%;
    letter-spacing: 0.6px;
}

.ssCard__button{
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #779547;
    color: #FEFFFF;
    height: 47px;
    padding-right:30px;
    padding-left:30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0.64px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.ssCard__button:hover{
    opacity: 0.8;
}


.ssCard__buttonlayout{
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 750px) {


    .ssCard__title{
        padding: 0 50px 3.125vw 50px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .ssCard__maintitle{
        margin-bottom: 10px;
        font-size: 24px;
    }

    .ssCard__capture{
        font-family: Noto Serif JP;
        font-size: 16px;
        line-height: 172%; /* 27.52px */
        letter-spacing: 0.64px;
    }

    .ssCard__itemsinner{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 8px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .ssCard__item{
        width: calc(20% - 6.4px);
    }

    .ssCard__iteminfo{
        height: 97px;
    }

    .ssCard__image{
        padding-top: min(16.6875vw, 213.6px);
    }

    .ssCard__itemname{
        font-size: 16px;
        letter-spacing: 0.64px;
    }

    .ssCard__price{
        font-size: 16px;
        letter-spacing: 0.64px;
    }
}